@if (addressForm) {
  <form class="address-form-wrapper d-flex flex-column" [formGroup]="addressForm">
    <!-- name -->
    <mat-form-field appearance="outline" class="mb-2 address-form-field">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [formControl]="addressForm.controls.name">
      @if (addressForm.controls.name.errors?.required) {
        <mat-error>Name is required</mat-error>
      }
    </mat-form-field>

    <!-- country -->
    <mat-form-field appearance="outline" class="mb-2 address-form-field">
      <mat-label>Select country</mat-label>
      <mat-select [formControl]="addressForm.controls.country">
        @for (country of countriesOptions; track country.id) {
          <mat-option [value]="{id: country.id, name: country.name}">{{ country.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- city -->
    <div>
      <mat-form-field appearance="outline" class="mb-2 address-form-field">
        <mat-label>Select city</mat-label>
        <mat-select [formControl]="addressForm.controls.cityId">
          @for (city of citiesOptions[addressForm.controls.country.value?.id]; track city.id) {
            <mat-option [value]="city.id">{{ city.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="accent" class="ms-2" [disabled]="!addressForm.controls.country.value?.id" (click)="openAddCityDialog()">Add city</button>
    </div>

    <!-- street -->
    <mat-form-field appearance="outline" class="address-form-field">
      <mat-label>Street</mat-label>
      <input matInput placeholder="Street" [formControl]="addressForm.controls.street">
      @if (addressForm.controls.street.errors?.required) {
        <mat-error>Street is required</mat-error>
      }
    </mat-form-field>
  </form>
}

