<div class="address-form-wrapper d-flex flex-column">
  <!-- name -->
  <mat-form-field appearance="outline" class="mb-2 address-form-field">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" required [(ngModel)]="name" (ngModelChange)="updateValue()" (blur)="onTouched()">
    @if (!name) {
      <mat-error>Name is required</mat-error>
    }
  </mat-form-field>

  <!-- country -->
  <mat-form-field appearance="outline" class="mb-2 address-form-field">
    <mat-label>Select country</mat-label>
    <mat-select [(ngModel)]="country" (ngModelChange)="listenToCountryValueChange()" (blur)="onTouched()">
      @for (country of countriesOptions; track country.id) {
        <mat-option [value]="{id: country.id, name: country.name}">{{ country.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- city -->
  <div>
    <mat-form-field appearance="outline" class="mb-2 address-form-field">
      <mat-label>Select city</mat-label>
      <mat-select [(ngModel)]="cityId" (ngModelChange)="updateValue()" (blur)="onTouched()"
                  [disabled]="!country || !citiesOptions[country?.id]?.length">
        @for (city of citiesOptions[country?.id]; track city.id) {
          <mat-option [value]="city.id">{{ city.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-flat-button type="button" color="accent" class="ms-2" [disabled]="!country?.id" (click)="openAddCityDialog()">
      Add city
    </button>
  </div>

  <!-- street -->
  <mat-form-field appearance="outline" class="address-form-field">
    <mat-label>Street</mat-label>
    <input matInput placeholder="Street" required [(ngModel)]="street" (ngModelChange)="updateValue()"
           (blur)="onTouched()">
    @if (!street) {
      <mat-error>Street is required</mat-error>
    }
  </mat-form-field>
</div>

